*{
  margin:0;
}
body {
  background-color: black;
}
h1, h2, h3, h4, h5, p {
  color: white;
}
h1 {
  position: fixed;
  top: 10;
  width: 100%;
  text-align: center;
  margin: 1em 0;
}

p{
    position: fixed;
    bottom: 30%;
    width: 100%;
    text-align: center;
}

canvas {
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-1;
  position:absolute;
}

div.pop-up.hide {
  display: none;
}

div.pop-up {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
}

.wrapper {
  display: grid;
  vertical-align: middle;
  height: 100vh;
  background-color: black;
}

div.pop-up .wrapper > img {
  max-width: 80vw;
  margin: 0 auto;
}

div.pop-up .wrapper > button {
  font-size: large;
  border: 2pt solid white;
  background-color: black;
  border-radius: 50%;
  color: white;
  margin: auto;
  padding: 1em;
}
